<div class="main-container">
  <h1 class="main-title">🐬 Find My Fin</h1>
  <div class="content-div">
    <div class="image-drop-div">
      <app-image-drop
        (fileDropped)="onImageDropped($event)">
      </app-image-drop>
      <button mat-raised-button color="primary" class="identify-btn" (click)="onIdentifyClick()">Identify</button>
    </div>
    <div class="results-summary-div">
      <app-results-summary [result]="identificationResult$ | async" [isLoading]="false"></app-results-summary>
      <button *ngIf="(identificationResult$ | async)" class="clear-btn" mat-raised-button (click)="clear()" color="warn">Clear</button>
    </div>
  </div>
</div>
